* {
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  padding: 10px;
}

.info-text {
  text-align: center;
}

.buttons {
  text-align: center;
  padding: 1%;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 38px;
}

p {
  font-size: 24px;
  padding: 5px;
}

.body-grid {
  display: grid;
  place-items: center;
}

.body-grid img {
  height: 600px;
  width: 900px;
  border: solid 3px black;
}

.inventory {
  display: flex;
  border: 3px solid black;
  flex-wrap: wrap;
  justify-content: center;
}

.inventory-boxes {
  text-align: center;
  border: solid 3px red;
  /* flex: 0 0 calc((100% - (20px * 6)) / 4); */
}

.middle-section {
  border: solid 3px red;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.my-hp {
  display: flex;
  justify-content: center;
  border: solid 3px green;
  align-items: center;
}

.enemy-hp {
  display: flex;
  justify-content: center;
  border: solid 3px blue;
  align-items: center;
}
